#mermaid-1686727194442 {
  font-family: sans-serif;
  font-size: 16px;
  fill: #333;
}

#mermaid-1686727194442 .error-icon {
  fill: #552222;
}

#mermaid-1686727194442 .error-text {
  fill: #552222;
  stroke: #552222;
}

#mermaid-1686727194442 .edge-thickness-normal {
  stroke-width: 2px;
}

#mermaid-1686727194442 .edge-thickness-thick {
  stroke-width: 3.5px;
}

#mermaid-1686727194442 .edge-pattern-solid {
  stroke-dasharray: 0;
}

#mermaid-1686727194442 .edge-pattern-dashed {
  stroke-dasharray: 3;
}

#mermaid-1686727194442 .edge-pattern-dotted {
  stroke-dasharray: 2;
}

#mermaid-1686727194442 .marker {
  fill: #333333;
  stroke: #333333;
}

#mermaid-1686727194442 .marker.cross {
  stroke: #333333;
}

#mermaid-1686727194442 svg {
  font-family: sans-serif;
  font-size: 16px;
}

#mermaid-1686727194442 .label {
  font-family: sans-serif;
  color: #333;
}

#mermaid-1686727194442 .cluster-label text {
  fill: #333;
}

#mermaid-1686727194442 .cluster-label span,
#mermaid-1686727194442 p {
  color: #333;
}

#mermaid-1686727194442 .label text,
#mermaid-1686727194442 span,
#mermaid-1686727194442 p {
  fill: #333;
  color: #333;
}

#mermaid-1686727194442 .node rect,
#mermaid-1686727194442 .node circle,
#mermaid-1686727194442 .node ellipse,
#mermaid-1686727194442 .node polygon,
#mermaid-1686727194442 .node path {
  fill: #ECECFF;
  stroke: #9370DB;
  stroke-width: 1px;
}

#mermaid-1686727194442 .flowchart-label text {
  text-anchor: middle;
}

#mermaid-1686727194442 .node .label {
  text-align: center;
}

#mermaid-1686727194442 .node.clickable {
  cursor: pointer;
}

#mermaid-1686727194442 .arrowheadPath {
  fill: #333333;
}

#mermaid-1686727194442 .edgePath .path {
  stroke: #333333;
  stroke-width: 2.0px;
}

#mermaid-1686727194442 .flowchart-link {
  stroke: #333333;
  fill: none;
}

#mermaid-1686727194442 .edgeLabel {
  background-color: #e8e8e8;
  text-align: center;
}

#mermaid-1686727194442 .edgeLabel rect {
  opacity: 0.5;
  background-color: #e8e8e8;
  fill: #e8e8e8;
}

#mermaid-1686727194442 .labelBkg {
  background-color: rgba(232, 232, 232, 0.5);
}

#mermaid-1686727194442 .cluster rect {
  fill: #ffffde;
  stroke: #aaaa33;
  stroke-width: 1px;
}

#mermaid-1686727194442 .cluster text {
  fill: #333;
}

#mermaid-1686727194442 .cluster span,
#mermaid-1686727194442 p {
  color: #333;
}

#mermaid-1686727194442 div.mermaidTooltip {
  position: absolute;
  text-align: center;
  max-width: 200px;
  padding: 2px;
  font-family: sans-serif;
  font-size: 12px;
  background: hsl(80, 100%, 96.2745098039%);
  border: 1px solid #aaaa33;
  border-radius: 2px;
  pointer-events: none;
  z-index: 100;
}

#mermaid-1686727194442 .flowchartTitleText {
  text-anchor: middle;
  font-size: 18px;
  fill: #333;
}

#mermaid-1686727194442 :root {
  --mermaid-font-family: sans-serif;
}

#mermaid-1686727194442 :root {
  --mermaid-alt-font-family: sans-serif;
}