node_modules
public
dist
test
./**/node_modules
./**/public
./**/dist
./**/test

*.md
*.d.ts
*.d.js
*.md
./**/*.md
./**/*.d.ts
./**/*.d.js
./packages/**/components/**/type.ts

pnpm-lock.yaml
.eslintrc.js
.prettierrc.js
commitlint.config.js
