.dialog-wrapper.el-dialog {
  padding: 0;

  .el-dialog__header {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid var(--jm-color-border);
  }

  .el-dialog__headerbtn {
    top: 12px;
    right: 10px;
    width: 24px;
    height: 24px;
  }

  .el-dialog__body {
    padding: 0;
    // padding-top: 1rem;
    // padding-bottom: 1rem;
    background-color: var(--jm-color-bg);
    border-left: 1px solid var(--jm-color-border);
    border-right: 1px solid var(--jm-color-border);
    border-bottom: 1px solid var(--jm-color-border);
  }

  .el-dialog__footer {
    border-left: 1px solid var(--jm-color-border);
    border-right: 1px solid var(--jm-color-border);
    border-bottom: 1px solid var(--jm-color-border);
    padding: 0.75rem 1.25rem;
  }

  .dialog-content {
    max-height: 65vh;
  }
}
