@use 'sass:math';
@use 'sass:map';
$types: primary;
$colors: () !default;
$colors: map.deep-merge(('white': #ffffff, 'primary': ('base': var(--theme-blue))), $colors);
$color-primary: map.get($colors, 'primary', 'base') !default;
$color-white: map.get($colors, 'white') !default;
@mixin set-color-mix-level($type, $number, $mode: 'light', $mix-color: $color-white) {
    $colors: map.deep-merge(($type: ('#{$mode}-#{$number}': mix($mix-color, map.get($colors, $type, 'base'), math.percentage(math.div($number, 10))))), $colors) !global;
}

@each $type in $types {
    @for $i from 1 through 9 {
        @include set-color-mix-level($type, $i, 'light', $color-white);
    }
}