.preview-pdf {
  background-color: var(--jm-color-overlay-lighter);
  z-index: 999;

  .preview-pdf-close {
    width: 44px;
    height: 44px;
    background-color: var(--jm-color-text-light);
    font-size: 24px;
    z-index: 9999;
  }

  .preview-pdf-bottom {
    bottom: 30px;
    width: 220px;
    height: 44px;
    border-radius: 22px;
    padding: 0 24px;
    background-color: var(--jm-color-text-light);
    font-size: 22px;
    z-index: 99;

    .preview-page {
      cursor: default;
      color: rgba(255, 255, 255, 0.6);
    }
  }

  .preview-pdf-content {
    height: calc(100vh - 100px);
    width: 100%;
    margin-top: 14px;
  }

  .preview-pdf-wrapper {
    margin: 0 auto;
    width: 720px;
    min-height: calc(100vh - 200px);
    background: #ffffff;
    transform-origin: 50% 0;
  }

}