.table-wrapper {
  .el-table {
    tr {
      background-color: var(--jm-color-bg-white);
    }

    thead {
      color: var(--jm-color-text);

      th {
        background-color: var(--jm-color-bg);
      }
    }

    .cell {
      padding-left: 10px;
      padding-right: 10px;
    }

    .el-table__body .el-table__row .el-table-fixed-column--right {
      right: -1px !important;
    }
  }

  .el-table.is-scrolling-right th.el-table-fixed-column--right,
  .el-table.is-scrolling-none th.el-table-fixed-column--right {
    background-color: var(--jm-color-bg);
  }

  .el-button + .el-button {
    margin-left: 0;
  }

  .el-button--small {
    padding-left: 0;
    padding-right: 0;
    margin-right: 8px;
  }
}
