/**
 * element-plus 部分样式重置 放在 html 上提高权重
*/

html {
  // 菜单
  .el-menu {
    border-right: 0;
  }

  // 按钮
  .el-button {
    height: 28px;
    line-height: 28px;
    border-radius: 2px;
  }

  .el-button--small {
    height: 24px;
    line-height: 24px;
    font-size: var(--jm-font-size-small-extra);
  }

  .el-button--large {
    height: 36px;
    line-height: 36px;
  }

  .el-button.is-text {
    padding-left: 0;
    padding-right: 0;
  }

  .el-loading-spinner {
    top: 8%;
  }

  // 多级选择
  .el-cascader {
    width: 100%;
  }

  // 自动输入框
  .el-autocomplete {
    width: 100%;
  }

  // 字体大小
  .el-table {
    font-size: var(--jm-font-size);
  }

  .el-sub-menu .el-sub-menu__icon-arrow,
  .el-input--small {
    font-size: var(--jm-font-size-small-extra);
  }

  .el-tag {
    line-height: 24px;
  }

  .el-tag--small {
    line-height: 20px;
  }

  .el-tag--large {
    line-height: 32px;
  }

  .el-image__error {
    font-size: var(--jm-font-size-small-extra);
  }

  .el-overlay {
    z-index: 99 !important;
  }
}
