/**
 * element-plus 部分样式重置 放在 html 上提高权重
*/


html {
  .el-menu {
    border-right: 0;
  }

  .el-button {
    height: 30px;
  }

  .el-button--small {
    height: 24px;
  }

  .el-button--large {
    height: 36px;
  }

}
