/**
 * element-plus css root变量 用本项目的变量覆盖
*/

:root {
  // 主题色变量
  --el-color-white: var(--jm-color-basic-white);
  --el-color-black: var(--jm-color--basic-black);
  --el-color-primary: var(--jm-color-primary);
  --el-color-primary-light-3: var(--jm-color-primary-400);
  --el-color-primary-light-5: var(--jm-color-primary-300);
  --el-color-primary-light-7: var(--jm-color-primary-200);
  --el-color-primary-light-8: var(--jm-color-primary-100);
  --el-color-primary-light-9: var(--jm-color-primary-50);
  --el-color-primary-dark-2: var(--jm-color-primary-600);
  --el-color-success: var(--jm-color-success);
  --el-color-success-light-3: var(--jm-color-success-400);
  --el-color-success-light-5: var(--jm-color-success-300);
  --el-color-success-light-7: var(--jm-color-success-200);
  --el-color-success-light-8: var(--jm-color-success-100);
  --el-color-success-light-9: var(--jm-color-success-50);
  --el-color-success-dark-2: var(--jm-color-success-600);
  --el-color-warning: var(--jm-color-warning);
  --el-color-warning-light-3: var(--jm-color-warning-400);
  --el-color-warning-light-5: var(--jm-color-warning-300);
  --el-color-warning-light-7: var(--jm-color-warning-200);
  --el-color-warning-light-8: var(--jm-color-warning-100);
  --el-color-warning-light-9: var(--jm-color-warning-50);
  --el-color-warning-dark-2: var(--jm-color-warning-600);
  --el-color-danger: var(--jm-color-danger);
  --el-color-danger-light-3: var(--jm-color-danger-400);
  --el-color-danger-light-5: var(--jm-color-danger-300);
  --el-color-danger-light-7: var(--jm-color-danger-200);
  --el-color-danger-light-8: var(--jm-color-danger-100);
  --el-color-danger-light-9: var(--jm-color-danger-50);
  --el-color-danger-dark-2: var(--jm-color-danger-600);
  --el-color-error: var(--jm-color-danger);
  --el-color-error-light-3: var(--jm-color-danger-400);
  --el-color-error-light-5: var(--jm-color-danger-300);
  --el-color-error-light-7: var(--jm-color-danger-200);
  --el-color-error-light-8: var(--jm-color-danger-100);
  --el-color-error-light-9: var(--jm-color-danger-50);
  --el-color-error-dark-2: var(--jm-color-danger-600);
  --el-color-info: var(--jm-color-info);
  --el-color-info-light-3: var(--jm-color-info-400);
  --el-color-info-light-5: var(--jm-color-info-300);
  --el-color-info-light-7: var(--jm-color-info-200);
  --el-color-info-light-8: var(--jm-color-info-100);
  --el-color-info-light-9: var(--jm-color-info-50);
  --el-color-info-dark-2: var(--jm-color-info-600);
  // 中性色
  --el-bg-color: var(--jm-color-bg-white);
  --el-bg-color-page: var(--jm-color-bg);
  --el-bg-color-overlay: var(--jm-color-bg-overlay);
  --el-text-color-primary: var(--jm-color-text);
  --el-text-color-regular: var(--jm-color-text-light);
  --el-text-color-secondary: var(--jm-color-text-lighter);
  --el-text-color-placeholder: var(--jm-color-text-placeholder);
  --el-text-color-disabled: var(--jm-color-text-disabled);
  --el-border-color: var(--jm-color-border);
  --el-border-color-light: var(--jm-color-border-light);
  --el-border-color-lighter: var(--jm-color-border-lighter);
  --el-border-color-extra-light: var(--jm-color-border-light-extra);
  --el-border-color-dark: var(--jm-color-border-dark);
  --el-border-color-darker: var(--jm-color-border-darker);
  --el-fill-color: var(--jm-color-fill);
  --el-fill-color-light: var(--jm-color-fill-light);
  --el-fill-color-lighter: var(--jm-color-fill-lighter);
  --el-fill-color-extra-light: var(--jm-color-fill-light-extra);
  --el-fill-color-dark: var(--jm-color-fill-dark);
  --el-fill-color-darker: var(--jm-color-fill-darker);
  --el-fill-color-blank: var(--jm-color-fill-blank);
  --el-overlay-color: var(--jm-color-overlay);
  --el-overlay-color-light: var(--jm-color-overlay-light);
  --el-overlay-color-lighter: var(--jm-color-overlay-lighter);
  --el-mask-color: var(--jm-color-mask);
  --el-mask-color-extra-light: var(--jm-color-mask-light-extra);

  // 字体大小
  --el-font-size-extra-large: var(--jm-font-size-large-extra);
  --el-font-size-large: var(--jm-font-size-large);
  --el-font-size-medium: var(--jm-font-size-medium);
  --el-font-size-base: var(--jm-font-size);
  --el-font-size-small: var(--jm-font-size-small);
  --el-font-size-extra-small: var(--jm-font-size-small-extra);

  // 字体类型
  --el-font-family: var(--jm-font-family);
}