/**
 * element-plus 部分样式重置 放在 html 上提高权重
*/


html {
  .el-menu {
    border-right: 0;
  }

  .el-button {
    height: 28px;
    line-height: 28px;
    border-radius: 2px;
  }

  .el-button--small {
    height: 24px;
    line-height: 24px;
  }

  .el-button--large {
    height: 36px;
    line-height: 36px;
  }

  .el-loading-spinner {
    top: 8%;
  }

  .g-popup .el-cascader {
    width: 100%;
  }
}