/**
 * 在此文件定义一些全局类
*/
@import './tailwind.css';
@import './element-reset.scss';

body,
html {
  font-size: var(--jm-font-size);
  font-family: var(--jm-font-family);
  background-color: var(--jm-color-bg);
  color: var(--jm-color-text);
  min-width: 768px;
}

// 提高权重
html {
  .g-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .g-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .g-center-y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

// 滚动条样式
.g-scroll-y,
.g-scroll-y-0 {
  overflow-y: auto !important;

  &::-webkit-scrollbar {
    width: 0px;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 3.5px;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: var(--jm-color-black-1);
  }

  &:hover::-webkit-scrollbar-track {
    background: transparent;
  }
}

.g-scroll-y {
  &::-webkit-scrollbar {
    width: 7px;
  }
}

// 1-2行显示，多出部分以省略号...显示
.g-line {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
}

.g-line-1 {
  @extend .g-line;
  /* autoprefixer: on */
  -webkit-line-clamp: 1;
}

.g-line-2 {
  @extend .g-line;
  /* autoprefixer: on */
  -webkit-line-clamp: 2;
}

// 横向label普通输入框宽度
.g-w-320 {
  width: 320px;
}

// home页面筛选框横向输入框宽度
// 或新页面竖向label输入框宽度
.g-w-280 {
  width: 280px;
}

// 弹框添加或编辑页面竖向label输入框宽度
.g-w-240 {
  width: 240px;
}
