@tailwind base; /* Preflight will be injected here */
@tailwind components;
@tailwind utilities;

/* 预设全局样式类 */
@layer base {
  .g-container {
    @apply flex;
    @apply flex-col;
    @apply h-full;
    @apply max-h-full;
    /* @apply flex-shrink-0; */
    flex-shrink:1;
  }

  .g-popup {
    @apply mt-4;
    @apply pl-4;
    @apply pr-20;
  }
}

@layer components {
  .text, .text-default {
    color: var(--jm-color-text)
  }
  .text-light {
    color: var(--jm-color-text-light)
  }
  .text-lighter {
    color: var(--jm-color-text-lighter)
  }
  .text-placeholder {
    color: var(--jm-color-text-placeholder)
  }
  .text-disabled {
    color: var(--jm-color-text-disabled)
  }
  .border-1 {
    border: 1px solid var(--jm-color-border);
  }
  .border-t-1 {
    border-top: 1px solid var(--jm-color-border);
  }
  .border-r-1 {
    border-right: 1px solid var(--jm-color-border);
  }
  .border-b-1 {
    border-bottom: 1px solid var(--jm-color-border);
  }
  .border-l-1 {
    border-left: 1px solid var(--jm-color-border);
  }
  .border-darker {
    border-color: var(--jm-color-border-darker)
  }
  .border-dark {
    border-color: var(--jm-color-border-dark)
  }
  .border {
    border-width: 1px;
    border-color: var(--jm-color-border)
  }
  .border-default {
    border-color: var(--jm-color-border)
  }
  .border-light {
    border-color: var(--jm-color-border-light)
  }
  .border-lighter {
    border-color: var(--jm-color-border-lighter)
  }
  .border-light-extra {
    border-color: var(--jm-color-border-light-extra)
  }
  .fill-darker {
    background-color: var(--jm-color-fill-darker)
  }
  .fill-dark {
    background-color: var(--jm-color-fill-dark)
  }
  .fill, .fill-default {
    background-color: var(--jm-color-fill)
  }
  .fill-light {
    background-color: var(--jm-color-fill-light)
  }
  .fill-lighter {
    background-color: var(--jm-color-fill-lighter)
  }
  .fill-light-extra {
    background-color: var(--jm-color-fill-light-extra)
  }
  .fill-blank {
    background-color: var(--jm-color-fill-blank)
  }
  .bg, .bg-default {
    background-color: var(--jm-color-bg)
  }
  .bg-overlay {
    background-color: var(--jm-color-bg-overlay)
  }
  .overlay, .overlay-default {
    background-color: var(--jm-color-overlay)
  }
  .overlay-light {
    background-color: var(--jm-color-overlay-light)
  }
  .overlay-lighter {
    background-color: var(--jm-color-overlay-lighter)
  }
  .mask, .mask-default {
    background-color: var(--jm-color-mask-light)
  }
  .mask-light-extra {
    background-color: var(--jm-color-mask-light-extra)
  }
}
