@tailwind base; /* Preflight will be injected here */
@tailwind components;
@tailwind utilities;

@layer utilities {
  .tw-text, .tw-text-default {
    color: var(--jm-color-text)
  },
  .tw-text-light {
    color: var(--jm-color-text-light)
  }
  .tw-text-lighter {
    color: var(--jm-color-text-lighter)
  }
  .tw-text-placeholder {
    color: var(--jm-color-text-placeholder)
  }
  .tw-text-disabled {
    color: var(--jm-color-text-disabled)
  }
  .tw-border-darker {
    border-color: var(--jm-color-border-darker)
  }
  .tw-border-dark {
    border-color: var(--jm-color-border-dark)
  }
  /* .tw-border,  */
  .tw-border-default {
    border-color: var(--jm-color-border)
  }
  .tw-border-light {
    border-color: var(--jm-color-border-light)
  }
  .tw-border-lighter {
    border-color: var(--jm-color-border-lighter)
  }
  .tw-border-light-extra {
    border-color: var(--jm-color-border-light-extra)
  }
  .tw-fill-darker {
    background-color: var(--jm-color-fill-darker)
  }
  .tw-fill-dark {
    background-color: var(--jm-color-fill-dark)
  }
  .tw-fill, .tw-fill-default {
    background-color: var(--jm-color-fill)
  }
  .tw-fill-light {
    background-color: var(--jm-color-fill-light)
  }
  .tw-fill-lighter {
    background-color: var(--jm-color-fill-lighter)
  }
  .tw-fill-light-extra {
    background-color: var(--jm-color-fill-light-extra)
  }
  .tw-fill-blank {
    background-color: var(--jm-color-fill-blank)
  }
  .tw-bg, .tw-bg-default {
    background-color: var(--jm-color-bg)
  }
  .tw-bg-white {
    background-color: var(--jm-color-bg-white)
  }
  .tw-bg-overlay {
    background-color: var(--jm-color-bg-overlay)
  }
  .tw-overlay, .tw-overlay-default {
    background-color: var(--jm-color-overlay)
  }
  .tw-overlay-light {
    background-color: var(--jm-color-overlay-light)
  }
  .tw-overlay-lighter {
    background-color: var(--jm-color-overlay-lighter)
  }
  .tw-mask, .tw-mask-default {
    background-color: var(--jm-color-mask-light)
  }
  .tw-mask-light-extra {
    background-color: var(--jm-color-mask-light-extra)
  }
}
