.v-md-editor {
  color: #303133;
}

body {

  // 编辑器
  .v-md-editor {
    border-radius: 0;
    box-shadow: none;

    // 工具栏
    .v-md-editor__toolbar {
      padding: 8px;
    }

    .v-md-editor__toolbar-item {
      border-radius: 1px;
    }

    .v-md-editor__tooltip {
      font-size: 0.75em;
      padding: 8px 10px;
      border-radius: 5px;
    }

    .v-md-editor__left-area-title {
      font-size: var(--jm-font-size-medium);
    }

    .v-md-editor__toc-nav-item {
      line-height: 1;
      height: auto;
      margin: 0;
      margin-bottom: 1rem;
    }

    // 目录导航
    .v-md-editor__toc-nav-item:hover .v-md-editor__toc-nav-title,
    .v-md-editor__toc-nav-title {
      font-size: var(--jm-font-size-medium);
    }

    // 内容区
    .v-md-textarea-editor pre,
    .v-md-textarea-editor textarea,
    .github-markdown-body {
      padding: 12px 16px;
      box-sizing: border-box;
      font-size: var(--jm-font-size);
    }

    .github-markdown-body h1,
    .github-markdown-body h2,
    .github-markdown-body h3,
    .github-markdown-body h4,
    .github-markdown-body h5 {
      border: 0;
      padding: 0;
      line-height: 1.5;
      margin: 1.7rem 0 0.57rem;
    }

    .github-markdown-body h1 {
      font-size: 2rem;
    }

    .github-markdown-body h2 {
      font-size: 1.5rem;
    }

    .github-markdown-body h3 {
      font-size: 1.17rem;
    }

    .github-markdown-body h4 {
      font-size: 1rem;
    }

    .github-markdown-body h5 {
      font-size: 0.83rem;
    }

    .github-markdown-body div[class*='v-md-pre-wrapper-'].line-numbers-mode:after {
      border-radius: 0;
    }

    .github-markdown-body hr {
      height: 1px;
    }

  }
}