.login-wrapper {
  max-width: 375px;
  height: 400px;
}

@media screen and (min-width: 768px) {
  .login-wrapper {
    max-width: 480px;
  }
}

@media screen and (min-width: 1200px) {
  .login-wrapper {
    max-width: 560px;
  }
}

.login-content {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  top: 2px;
  left: 2px;
  z-index: 2;
}

// 动画

@keyframes mybox {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.login-right::after,
.login-right::before {
  content: "";
  position: absolute;
  display: block;
  top: -50%;
  left: -50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    var(--jm-color-purple-6),
    var(--jm-color-purple-6),
    var(--jm-color-purple-6)
  );
  // z-index: 1;
  transform-origin: bottom right;
  animation: mybox 6s linear infinite;
}

.login-right::after {
  animation-delay: -3s;
}
