.editor-wang-container {
  // border: 1px solid red;

  .editor-title {
    width: 250px;
  }

  .toolbar-container {
    .w-e-bar {
      .w-e-bar-item {
        button {
          width: auto !important;
        }

        .myactive {
          background-color: var(--w-e-toolbar-active-bg-color);
          color: var(--w-e-toolbar-active-color);
        }
      }
    }
  }

  .editor-container {
    .w-e-text-container {
      .w-e-scroll {
        overflow-y: auto !important;
        overflow-x: hidden;

        &::-webkit-scrollbar {
          width: 7px;
        }

        &::-webkit-scrollbar-thumb {
          background: transparent;
          border-radius: 3.5px;
        }

        &:hover::-webkit-scrollbar-thumb {
          background: var(--jm-color-black-1);
        }

        &:hover::-webkit-scrollbar-track {
          background: transparent;
        }
      }
    }
  }

  .w-e-text-container {
    p {
      margin: 0;
    }
  }

  .w-e-text-placeholder {
    top: 0;
  }

  .w-e-full-screen-container {
    z-index: 999;
  }
}
