.preview-txt {
  background-color: var(--jm-color-overlay-lighter);
  z-index: 999;

  .preview-txt-close {
    width: 44px;
    height: 44px;
    background-color: var(--jm-color-text-light);
    font-size: 24px;
    z-index: 9999;
  }

  .preview-txt-bottom {
    bottom: 30px;
    width: 160px;
    height: 44px;
    border-radius: 22px;
    padding: 0 30px;
    background-color: var(--jm-color-text-light);
    font-size: 22px;
  }

  .preview-txt-content {
    height: calc(100vh - 100px);
    margin-top: 14px;
    width: 100%;
    color: #333333;
  }

  .preview-txt-wrapper {
    width: 720px;
    margin: 0 auto;
    min-height: calc(100vh - 100px);
    background: #ffffff;
    line-height: 1.5;
    white-space: pre-wrap;
  }

  .preview-word-wrapper {
    width: 720px;
    margin: 0 auto;
    min-height: calc(100vh - 100px);
    line-height: 1.5;
    white-space: pre-wrap;
  }

  .preview-excel-content {
    height: calc(100vh - 30px);
    margin-top: 14px;
    width: 100%;
  }

  #preview-excel-wrapper {
    width: 1208px;
    height: 100%;
    margin: 0 auto;
    background: #ffffff;
  }

  :deep(.docx-wrapper) {
    background: #ffffff;
    padding: 0;
  }

  :deep(.docx-wrapper>section.docx) {
    margin-bottom: 0;
  }

  :deep(.luckysheet-stat-area) {
    background: #ffffff;
  }
}